.button {
    width: 100px;
    height: 40px;
    background: #2588ff;
    border: none;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.button--primary {
    background: #0bc91e;
}

.button--secondary {
    background: #c43436;
}

.button--active {
    background: #eb3e6f;
}

.button--disabled {
    background: #cccccc;
    color: #666666;
    cursor: default;
}
