.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background: #ffc400;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 16px;
    line-height: 60px;
    color: #000;
}

.nav-link {
    padding: 0 20px;
}

.nav-buffer {
    height: 60px;
}
