.popup {
    width: 100%;
    height: 100%;

    .popup__bg {
        width: 100%;
        height: 100%;
    }

    .popup__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 304px;
        height: 168px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,0.7);
        border-radius: 24px;
        text-align: center;
        font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
        font-size: 38px;
        color: #FFF;
    }
}

.popup-start {
    opacity: 0.01;
}

.popup-appear {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.popup-disappear {
    opacity: 0;
    transition: opacity .5s ease-in;
}

.popup-end {
    opacity: 0;
}
